__pycache__/
*.py[cod]
.pytest_cache/

.env
wandb/

data/*
!data/README.md
data_SAR/*
!data_SAR/README.md

external/*
!external/README.md

logs/*
!logs/README.md

results/*
!results/README.md
results_*/
!results_logs/
!results_logs/**
